.Comments .comment{
    border-bottom-color: rgb(106, 0, 95);
    border-bottom-style: dotted;
    border-bottom-width: 2px;
}
.Comments .comment .left{
    display: inline-block;

}
.Comments .comment .like{
    position: absolute;
    right: 10px;
}
.Comments .comment .left .commentTime,.Comments .comment .left .report{
    font-size: 12px;
    color: grey;
    display: inline-block;
}
.Comments .header{
    border-bottom-color: rgb(106, 0, 95);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding: 5px;
}