.SearchBox{
    -web-kit-appearance:none;
  -moz-appearance: none;
  border-radius:6px;
   /* border:1px solid #c8cccf; */
   color:#6a6f77;
   display: flex;
   align-items: center;
   justify-content: center;
   /* outline:0; */
   /* width: 94%; */
   /* height: 30px; */
   padding: 3%;
   /* margin: 3%; */
   /* background-color: rgba(226, 223, 223, 0.932); */
}