.SearchItem .left{
    margin-left: 18px;
    display: inline-block;
}
.SearchItem .score{
    text-align: center;
    font-size: 30px;
    display: inline-block;
    position: absolute;
    right: 25px;
    color: black;
}
.SearchItem .left .name{
    font-size: 25px;
    color: rgb(106, 0, 95);
}
.SearchItem .left .department{
    font-size: 14px;
    color: grey;
}
.SearchItem{
    border-bottom-style: dotted;
    border-bottom-color: rgb(106, 0, 95)
}
.SearchItem .left .name,.SearchItem .left .department,.SearchItem .score{
    margin-block-start: 0px;
    margin-block-end: 0px;
}
